@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");
html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  height: 100vh !important;
}

.main1 {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}

figcaption {
  font-size: 14px;
  font-weight: 600 !important;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
}

h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
  color: #222f7d;
}

input[type=search] {
  font-family: "Montserrat", sans-serif !important;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.titulo-seccion {
  color: #222f7d;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  margin-bottom: 0 !important;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 40px;
}

.btn__aqua {
  background-color: #7fe0c5 !important;
  color: #222f7d !important;
  -webkit-transition: 1s;
  transition: 1s;
  font-weight: 700 !important;
  border-radius: 40px !important;
}
.btn__aqua:hover {
  background-color: #cfd6d8;
}

.titulo-formulario {
  color: #222f7d;
  font-weight: 700;
}

.boton-ver-mas {
  text-decoration: none;
  padding: 3% 30px;
  background-color: #04e4c4;
  color: #222f7d;
  border-radius: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.boton-ver-mas i {
  margin-right: 8px;
}

.boton-enviar-mensaje {
  text-decoration: none;
  padding: 3% 30px;
  background-color: #222f7d;
  color: white;
  border-radius: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.boton-enviar-mensaje i {
  margin-right: 8px;
}

.boton-ver-mas:hover, .boton-ver-mas-free:hover {
  background-color: #111841;
  color: white;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.boton-ver-mas-free {
  text-decoration: none;
  padding: 5% 20px;
  background-color: #222f7d;
  color: white;
  border-radius: 20px;
  font-weight: 600;
}
.boton-ver-mas-free :hover {
  background-color: #1b2561;
  color: white;
}

.boton-regresar {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #808bc7;
  color: white;
  border-radius: 20px;
  font-weight: 600;
}

span {
  font-weight: 700;
  font-family: "Montserrat";
}

hr {
  height: 3px !important;
  width: 110px !important;
  margin: auto !important;
  color: #7fe0c5 !important;
  margin-bottom: 29px !important;
  opacity: 1 !important;
  margin-top: -40px;
}

.card {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

a.dropdown-toggle {
  cursor: pointer;
}

.seccion-portada {
  background-color: #222f7d;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.portada {
  padding-bottom: 4rem;
}

.header-portada {
  text-align: center;
}
.header-portada h1 {
  color: #7fe0c5;
}
.header-portada h3 {
  color: #ffffff;
}

.buscador {
  border-radius: 20px;
  height: 3rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.buscador:focus {
  border-color: #7fe0c5;
  -webkit-box-shadow: #7fe0c5 0px 0px 5px;
          box-shadow: #7fe0c5 0px 0px 5px;
}

.busc {
  border-radius: 20px !important;
  position: absolute;
  top: 100%;
  z-index: 100;
  width: 90%;
  left: 9%;
}

.busc-2 {
  left: 5%;
  top: 103%;
}

.busc_home {
  border-radius: 20px !important;
  position: absolute;
  top: 75%;
  z-index: 100;
  width: 97%;
}

.buscador-empresa {
  border-radius: 20px !important;
  height: 3rem;
  width: 90% !important;
  margin-top: 0;
  margin-bottom: 0;
}

.busc_cat {
  border-radius: 20px !important;
  position: absolute;
  top: 75%;
  z-index: 100;
  width: 97%;
  text-align: left;
}

.busc_empresa {
  border-radius: 20px !important;
  position: absolute;
  top: 75%;
  z-index: 100;
  width: 90%;
  margin-top: 1.5%;
  text-align: left;
  left: 8%;
}

.buscador_ajax {
  position: relative;
}

.parque {
  background-image: url("./../src/img/parque.png");
  background-repeat: no-repeat;
  height: 300px;
  background-position: bottom center;
  background-size: contain;
  position: relative;
  overflow: hidden;
}
.parque .parque__nube:nth-of-type(1) {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  -webkit-animation: nube1 30s;
          animation: nube1 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  position: absolute;
  z-index: 9;
}
.parque .parque__nube:nth-of-type(2) {
  width: 150px;
  height: 50px;
  -webkit-animation: nube2 30s;
          animation: nube2 30s;
  position: absolute;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 9;
}
.parque .parque__nube:nth-of-type(3) {
  width: 200px;
  height: 60px;
  margin-top: 30px;
  -webkit-animation: nube3 50s;
          animation: nube3 50s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  position: absolute;
  z-index: 9;
}

@-webkit-keyframes nube1 {
  from {
    margin-left: 100%;
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  to {
    margin-right: 0%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes nube1 {
  from {
    margin-left: 100%;
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  to {
    margin-right: 0%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes nube2 {
  from {
    margin-left: 100%;
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3);
  }
  to {
    margin-right: -10%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes nube2 {
  from {
    margin-left: 100%;
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3);
  }
  to {
    margin-right: -10%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes nube3 {
  from {
    margin-left: 100%;
  }
  to {
    margin-right: -300px;
  }
}
@keyframes nube3 {
  from {
    margin-left: 100%;
  }
  to {
    margin-right: -300px;
  }
}
.categorias-home {
  margin-top: 2rem;
}
.categorias-home h3 {
  margin-bottom: 20px;
}
.categorias-home .categorias-home__item img {
  height: 50px;
}
.categorias-home .iconos_cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.categorias-home .titulo_cat {
  color: #fff;
}
.categorias-home .link_cat {
  position: relative;
}

/* Invisible texto */
figcaption {
  display: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  top: 40px;
  color: white;
  width: 350%;
  left: -45px;
  text-align: center;
}

/* Visible texto */
a.link_cat:hover > figcaption {
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.categorias-principales {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.categorias-principales .categorias-principales__item img {
  height: 220px;
}

.busquedas-destacadas {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #d0dcdc;
}
.busquedas-destacadas .busquedas-destacadas__item img {
  height: 220px;
}

.promociones {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.promociones .promociones__item img {
  width: 100%;
}

.informacion {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #222f7d;
  margin-top: 2rem;
}
.informacion .informacion__contenido {
  color: #ffffff;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
}
.informacion .informacion__contenido span {
  color: #7fe0c5;
}
.informacion .informacion__contenido small {
  font-size: 0.7rem;
  font-weight: 700;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1f286b;
  width: 100%;
  padding: 25px;
}

.primero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.primero .enlaces {
  margin-left: 8%;
}

.primero a {
  color: #fff !important;
  list-style: none;
  text-decoration: none;
  margin-right: 50px;
  font-weight: bold;
  font-size: 14px;
}

.primero .borde {
  border-left: 2.5px yellow solid;
  padding-left: 20px;
}

.segundo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px #c5c700 solid;
  padding-top: 20px;
}

.footer_redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.segundo img {
  width: 200px;
}

.segundo .texto p {
  color: #fff;
  text-align: center;
  line-height: 3px;
}

.segundo .footer_redes h5 {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  margin-bottom: 15px;
}

.redes_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.redes_footer img {
  width: 40px;
}

@media only screen and (max-width: 614px) {
  .primero {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin-bottom: 20px;
    text-align: center;
  }

  .segundo {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 3px #c5c700 solid;
    padding-top: 20px;
  }

  .segundo img {
    margin-bottom: 25px;
  }

  .segundo p {
    font-size: 12px;
  }

  .segundo p:last-child {
    margin-bottom: 10px;
  }

  .segundo .footer_redes h5 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .primero .enlaces {
    margin-left: 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .primero .borde {
    border-left: 2.5px yellow solid;
    padding-left: 20px;
    margin-top: 14px;
  }
}
.otro label {
  width: 26%;
  margin-bottom: 5px;
  font-weight: 500;
}

form {
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 2px 20px 0px #7b7b7b;
          box-shadow: 2px 2px 20px 0px #7b7b7b;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: #222f7d;
  color: white;
}

input[type=checkbox] {
  width: 6%;
}

input, select, textarea {
  font-weight: 500 !important;
}

.contenido {
  background: #fff;
  padding-top: 3%;
}

.aside {
  background: #ededed;
  padding-top: 3%;
  padding-bottom: 3%;
}

.header_categorias {
  background: #222f7d;
  padding: 30px 0;
}
.header_categorias h1 {
  margin-bottom: 0;
  color: #7fe0c5;
}
.header_categorias h3 {
  color: #fff;
}

.contenido-premium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-left: 2%;
}

.imgEmpresa {
  border: 2px #cdcdcd solid;
  margin-right: 2%;
}

.card {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
}

.div-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}
.div-contacto a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #222f7d;
}
.div-contacto a i {
  font-size: 25px;
  color: #222f7d;
  margin-right: 10px;
}

.lista_cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 40px 0;
}
.lista_cat a {
  list-style: none;
  color: #333333;
  text-decoration: none;
  font-weight: 500;
  margin-left: 4%;
  margin-bottom: 3%;
}

.main {
  background-color: #ededed;
}

.cat {
  list-style: none;
  color: #333333;
  text-decoration: none;
  font-weight: 500;
}

.cont-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cont-buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centrar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.buscador-cat {
  border-radius: 20px !important;
  height: 3rem;
  width: 90%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-cat-negritas {
  font-weight: bold;
}

.cuerpo-contenido {
  margin-bottom: 0;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 21px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nombre_cat, .text-center {
  color: #222f7d;
}

.cuerpo-contenido-p {
  margin-bottom: 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 21px;
  border: 3px #222f7d solid;
  -webkit-box-shadow: 5px 5px 16px 2px #dadada;
          box-shadow: 5px 5px 16px 2px #dadada;
}

.separadorEmpresas {
  width: 96% !important;
  color: #dbdbdb !important;
  height: 0.1em !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.separadorEmpresas:last-child {
  display: none !important;
}

.cuerpo-card {
  width: 42%;
  margin-left: 40px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cuerpo-card h4, .cuerpo-card p {
  margin-left: 3%;
  color: #515151;
  text-align: justify;
  margin-right: 3%;
}
.cuerpo-card h4 {
  color: #222f7d;
  margin-bottom: 6% !important;
  text-align: left;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
  background: #939cce;
  border-color: #747aa1;
}

span.resultado_busqueda {
  position: absolute;
  width: 51%;
  top: 80px;
  left: 25%;
  text-align: left;
}

.buscador_ajax_cat {
  position: relative;
  width: 72% !important;
}

a.col-md-1.d-flex.justify-content-center.align-items-center {
  font-size: 35px;
  color: white;
}

.div-iconoanpr {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-iconoanpr img {
  width: 80px;
}

.enviar-mensaje {
  margin: 10px 0;
}

.ocultar {
  display: none;
}

.ocultar_desktop {
  display: none;
}

@media only screen and (max-width: 768px) {
  .ocultar_desktop {
    display: block !important;
  }
}
@media only screen and (max-width: 600px) {
  .cuerpo-contenido-p {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .div-contacto {
    display: none;
  }

  .div-iconoanpr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .cel-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #222f7d;
    font-size: 13px;
    margin-left: 3%;
  }

  .r-free {
    margin-right: 0;
    width: 100%;
    margin-top: 10px;
  }

  .div-iconoanpr img {
    display: none;
  }

  .ocultar {
    display: block;
  }
  .ocultar img {
    width: 45px;
  }
  .ocultar i {
    margin-right: 5px;
  }

  .imgEmpresa {
    width: 120px !important;
    height: 120px !important;
  }

  .cuerpo-contenido-p {
    padding: 10px 0;
  }

  .cuerpo-card {
    width: 58%;
    margin-left: 10px;
  }
  .cuerpo-card p {
    margin-top: 0;
    margin-bottom: 0.3rem;
    font-size: 12px;
  }

  .iconoanproculto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 10%;
  }

  .boton-enviar-mensaje, .boton-ver-mas {
    font-size: 10px;
    padding: 3% 6px;
    margin-left: 10px;
  }

  .nombre_cat, .text-center {
    color: #222f7d;
    margin-bottom: 30px;
  }

  i.bi.bi-house-fill {
    display: none;
  }
}
.header {
  background-color: #222f7d;
  padding: 50px;
}
.header h1 {
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.contenedorInfoEmpresa {
  background-color: #d0dadb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3%;
}
@media only screen and (max-width: 500px) {
  .contenedorInfoEmpresa {
    margin-bottom: 20px;
  }
}

.contenedorDatos {
  background: #fff;
  border-radius: 25px;
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 5%;
}

.cuadroEmpresa {
  border: 2px #cecece solid;
  border-radius: 25px;
  padding: 40px 30px;
}
@media only screen and (max-width: 500px) {
  .cuadroEmpresa {
    border: none;
  }
}
.cuadroEmpresa .representante img {
  border-radius: 50%;
  border: 3px #222f7d solid;
}
@media only screen and (max-width: 1200px) {
  .cuadroEmpresa .representante .col-7 {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .cuadroEmpresa .representante .col-7 {
    margin-left: -30px;
  }
}
@media only screen and (max-width: 768px) {
  .cuadroEmpresa .representante .col-7 {
    margin-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  .cuadroEmpresa .representante .col-7 {
    margin-left: 8%;
    width: 70%;
  }
}
.cuadroEmpresa p.mb-0 {
  margin-bottom: 0 !important;
  font-weight: bold !important;
}
.cuadroEmpresa .col-7 p {
  font-weight: 500;
  margin-bottom: 0 !important;
}
.cuadroEmpresa .contenedorBoton {
  text-align: center;
  margin-top: 14%;
  padding-bottom: 50px;
}
.cuadroEmpresa .hihgLogic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.cuadroEmpresa .hihgLogic a {
  text-decoration: none;
  color: #222f7d;
  font-weight: bold;
  font-size: 1.3em;
}
.cuadroEmpresa .botonContactar {
  text-decoration: none;
  color: #222f7d;
  background: #7fe0c5;
  font-weight: 700;
  padding: 20px 100px;
  text-align: center;
  font-size: 1.2em;
  border-radius: 10px;
}
@media only screen and (max-width: 1024px) {
  .cuadroEmpresa {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .cuadroEmpresa {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .cuadroEmpresa {
    padding: 16px 15px;
  }
}

.logoEmpresa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 500px) {
  .logoEmpresa {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logoEmpresa1 {
  width: 500px;
  height: 500px;
}
@media only screen and (max-width: 500px) {
  .logoEmpresa1 {
    width: 300px;
    height: 300px;
  }
}

.cuadroEmpresa p {
  margin-bottom: 7% !important;
}

h4 {
  color: #222f7d;
  margin-bottom: 0 !important;
}

h2 {
  margin-bottom: 8% !important;
  color: #222f7d;
}

.contenedorImgProducto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contenedorImgProducto img {
  width: 80px;
  height: 80px;
  margin-bottom: 6px;
  border: 1px gray solid;
}
@media only screen and (max-width: 500px) {
  .contenedorImgProducto {
    margin-left: 6px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contenedorImgProducto a {
    margin-right: 6px;
  }
  .contenedorImgProducto img {
    width: 35px;
    height: 35px;
  }
}

.iconosCat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.iconosCat img {
  width: 32px;
}
@media only screen and (max-width: 500px) {
  .iconosCat img {
    width: 22px;
  }
}
.iconosCat a {
  margin-right: 2%;
  margin-bottom: 10px;
}

.video-responsive {
  width: 100%;
  height: 400px;
}
@media only screen and (max-width: 500px) {
  .video-responsive {
    height: 200px;
  }
}
.video-responsive iframe {
  width: 100%;
  height: 100%;
}

.descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.descripcion .col-xl-5 {
  padding-left: 3%;
  padding-right: 3%;
}
@media only screen and (max-width: 1500px) {
  .descripcion .cont_img {
    border: none;
    padding: 1% 1%;
    border-radius: 15px;
    margin-right: 1%;
    width: 37%;
  }
  .descripcion .col-xl-5 {
    margin-right: 7%;
  }
  .descripcion .cont_img {
    width: 35% !important;
  }
}
@media only screen and (max-width: 768px) {
  .descripcion .cont_img {
    width: 80% !important;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) and (max-width: 500px) {
  .descripcion .cont_img {
    width: 95% !important;
  }
  .descripcion .cont_img .descripcion_producto {
    padding: 3% 1% !important;
  }
}
@media only screen and (max-width: 768px) {
  .descripcion .col-xl-5 {
    margin-right: 0;
    padding-left: 9%;
    padding-right: 9%;
  }
}
.descripcion h2, .descripcion h4 {
  margin-bottom: 3% !important;
  font-weight: 700;
  color: #222f7d;
}
.descripcion p {
  text-align: justify;
}
.descripcion .cont_img {
  border: none;
  margin-right: 0;
  width: 20%;
}
.descripcion .cont_img .descripcion_producto {
  border: 1px grey solid;
  border-radius: 15px;
  padding: 1% 1%;
}
@media only screen and (max-width: 500px) {
  .descripcion .cont_img .descripcion_producto {
    border: none;
  }
}

.botonCatalogo {
  background: #222f7d;
  color: #fff;
  padding: 13px 46px;
  border-radius: 30px;
  font-size: 18px;
}

.botonEnviarEmpresa {
  background: #7fe0c5 !important;
  border: none !important;
  color: #222f7d !important;
  font-weight: 700 !important;
  border-radius: 15px !important;
  padding: 5px 48px !important;
}

.fomEmpresa {
  border-radius: 20px;
}
.fomEmpresa input, .fomEmpresa textarea {
  border-radius: 30px;
}

.anunciosE {
  border: none !important;
}
.anunciosE img {
  width: 100%;
}

.textoenviar {
  color: #fff;
}

.regresar {
  margin-top: 30px;
}

.img_destacadas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.img_destacadas img {
  width: 250px;
  margin-top: 0;
}

.cont_desc {
  margin-bottom: 30px;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

.redes img {
  width: 50px;
}

.buscador-info-empresa {
  margin: auto;
  width: 34% !important;
}

.empresaTitulo {
  margin-bottom: 2%;
}

.darkmode--activated h1, .darkmode--activated h2, .darkmode--activated h4, .darkmode--activated p {
  color: #fff;
}
.darkmode--activated .seccion-portada {
  background-color: #1d1d1d;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.darkmode--activated .menu_principal {
  background-color: #1d1d1d;
  margin-top: 20px;
}
.darkmode--activated .menu_principal .container .nav {
  text-transform: uppercase;
  background-color: #1d1d1d;
  border: none;
  letter-spacing: 0.1em;
  color: #fff !important;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 12px;
  font-size: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}
.darkmode--activated .menu_hl {
  border-top: 5px solid #3d9F95;
  background-color: #1d1d1d;
}

.empresa_destacadas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.anunciosEmpresa {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.row.d-flex.justify-content-evenly {
  padding: 0 15%;
}

.contenedortablas {
  margin-top: 6%;
}

.redondo {
  background: #222f7d;
  color: white;
  text-align: center;
  border-radius: 100%;
  width: 210px;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -60%;
}
.redondo span {
  color: #7fe0c5;
  font-size: 32px;
  padding: 10px 10px;
}
.redondo span.premium {
  color: #d0da00;
}
.redondo h3 {
  font-weight: 400 !important;
  font-size: 20px;
}

.row.divrelative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #fbfbfb;
  width: 97%;
  height: 150px;
  -webkit-box-shadow: 20px 4px 16px -8px #9f9f9f;
          box-shadow: 20px 4px 16px -8px #9f9f9f;
}

.divabsolute {
  background: #222f7d;
  color: white;
  width: 100%;
  padding: 10px 30px;
  height: 480px;
  position: relative;
  margin-bottom: 70px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.divabsolute .premium {
  color: #d0da00;
}
.divabsolute h4 {
  text-align: left;
  color: #fff;
  margin-top: 40px;
  font-size: 15px;
  margin-bottom: 30px !important;
}
.divabsolute .botonfree {
  background: #7fe0c5;
  color: #222f7d;
  padding: 3px 45px;
  border-radius: 30px;
  position: absolute;
  bottom: -32px;
  left: 15%;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  border: 3.5px white solid;
}
.divabsolute .botonpremium {
  background: #d0da00;
  color: #222f7d;
  padding: 3px 45px;
  border-radius: 30px;
  position: absolute;
  bottom: -32px;
  left: 15%;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  border: 3.5px white solid;
  line-height: 11px;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.divabsolute .botonpremium span {
  font-size: 12px;
  display: inline-block;
  margin-top: 6px;
}

.contenedortabla1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.contenedortabla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contenedortabla p {
  margin-bottom: 0;
  margin-left: 10px;
}
.contenedortabla .contenidodiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
}
.contenedortabla .contenidodiv p {
  font-weight: bold;
  color: #222f7d;
  font-size: 15px;
  font-family: "Montserrat";
}
.contenedortabla .contenidodiv span {
  font-weight: 400;
}
.contenedortabla .contenidodiv img {
  width: 40px;
}

.titulo {
  width: 100%;
  text-align: center;
  color: #222f7d;
  margin-top: -60px;
  margin-bottom: 20px;
}
.titulo h3 {
  font-size: 28px;
}

.contenidogratuito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 8px;
}
.contenidogratuito p {
  margin-left: 10px;
}
.contenidogratuito i {
  font-size: 20px;
  color: #7fe0c5;
}

.imgtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-left: 40px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .imgtext {
    padding-left: 0;
  }
}
.imgtext h3 {
  background: #1f286b;
  color: #d0da00;
  padding: 2px 0px;
}
@media only screen and (max-width: 768px) {
  .imgtext h3 {
    width: 93%;
  }
}
.imgtext p {
  font-weight: 700;
  color: #1f286b;
  font-size: 20px;
}
.imgtext .img {
  margin-top: 30px;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.imgtext .img img {
  width: 100%;
  height: 100%;
}

.mostrar .container, .ocultar .container {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

@media only screen and (max-width: 1400px) {
  .row.d-flex.justify-content-evenly {
    padding: 0;
  }

  .redondo {
    margin-top: 50px;
  }

  .contenido {
    margin-bottom: 30px;
  }

  .botonpremium, .botonfree {
    left: 14%;
  }

  .row.divrelative {
    width: 97%;
    height: 180px;
  }
}
.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}
.contacto .info {
  width: 250px;
  padding: 14px 14px;
  background: #222f7d;
  border-radius: 30px;
  margin-bottom: 15px;
  color: white;
  font-weight: 700;
  font-family: "Montserrat";
}
.contacto a {
  color: #1f286b;
  font-weight: 600;
}
.contacto p {
  font-size: 14px;
  color: #1f286b;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  .botonpremium, .botonfree {
    left: 10% !important;
  }

  .img {
    margin-top: 30px;
    width: 350px !important;
    height: 400px !important;
    margin-top: 100px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .botonpremium, .botonfree {
    left: 22% !important;
  }

  .titulo h3 {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .botonpremium, .botonfree {
    left: 16% !important;
  }

  .row.divrelative {
    margin-top: 45px;
  }
}
@media only screen and (max-width: 500px) {
  .row.d-flex.justify-content-evenly {
    padding: 0 5%;
    margin-bottom: 30px;
  }

  .imgtext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-left: 5px;
    margin-bottom: 30px;
  }

  .img {
    margin-top: 10px !important;
  }
}