.otro label {
    width: 26%;
    margin-bottom: 5px;
    font-weight: 500;
}

form {
    border: 1px #ffffff solid;
    padding: 15px;
    justify-content: center;
    box-shadow: 2px 2px 20px 0px #7b7b7b;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background: #fff;
}
input[type="checkbox"] {
    width: 6%;
}

input, select, textarea {
    font-weight: 500 !important;
}
body {
    background: linear-gradient(90deg, rgba(205,241,241,1) 0%, rgba(255,255,255,1) 50%, rgba(220,243,255,1) 100%);
    /* position: relative; */
}

h1{
    font-weight: 700 ;
    color: #084298;
}

