.seccion-portada{
  background-color: $azulPrincipal;
  padding-top: 1rem;
  padding-bottom: 2rem;


}

.portada{
  padding-bottom: 4rem;
}
.header-portada{
  text-align: center;
  h1{
    color: $aqua;
  }
  h3{
    color: #ffffff;
  }

}